mixin image-svg(addClass, link, viewBox, width, height)
  svg(
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  class= addClass
  preserveAspectRatio="none"
  viewBox= viewBox
  width=`${width}px`
  height=`${height}px`)
    use(xlink:href="#" + link)
