extends ../main-layout

block title
  | About

block content
  section.section.hero
    .hero__bg
      img(src="img/bg/portfolio-mount.jpg").hero__bg--image

    ul.socials
      each item in ['vk','github','in']
        li.socials__item
          a(href="").socials__link
            +image-svg("socials__image socials__image--" + item,item)

    a(href="").hamburger
      +image-svg("hamburger__image","hamburger","0 0 40 35")

    a(href="").down-arrow
      +image-svg("down-arrow--image","arrow_down","0 0 25.18 16.164",25,16)

    .hero__title
      +image-svg("section__title","portfolio_header","0 0 1175.495 313.961")
      .user.hero__user-block
        .user__photo
          img(src="./img/my.jpg")
        .user__name Yuriy Bochkarev
        .user__desc My Portfolio

  section.section.about
    .about__left
      svg(
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1000 100"
        class="triangle triangle-fill-white about__triangle"
        preserveAspectRatio="none")
        polygon(points="0,0 0,100 1000,100")
      .about__section--wrapper
        .title.about__section--title About Me
          +image-svg("about__section--image","about_header","0 0 498.161 175.44",357,125)
        .user-about
          .user-about__picture
            img(src="./img/155312_600.jpg")
          .user-about__title
            .subtitle
              | Who I'm
          .user-about__text
            p
              | Я веб разработчик из Новосибирска. Мне 27 лет.
              | Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и
              | современные проекты.

            p
              | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
              | Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

    .about__right
      svg(
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1000 100"
      class="triangle triangle-fill-beige about__triangle"
      preserveAspectRatio="none")
        polygon(points="0,100 1000,100 1000,0")

      .about-data
        .about-data__description.about-user-info
          .about-user-info__title
            .subtitle
              | What I can be useful
          .about-user-info__text
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        .about-data__content
          ul.skills
            each skill in skills
              each skillArray, skillName in skill
                li.skills__item
                  .skill-section
                    .skill-section__title= skillName
                    ul.skill-section__list
                      each skillTitle in skillArray
                        li.skill-section__item
                          .skill
                            svg.skill__circle
                            .skill__name= skillTitle
  section.section.map